<ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
 <ion-tabs class="tabs-striped tabs-top tabs-background-balanced tabs-color-light" tabs-swipable>


 <!-- ABOUT US Tab -->
  <ion-tab title="ABOUT US" href="#/aboutusslidermenu/about">
    <ion-nav-view name="about"></ion-nav-view>
  </ion-tab>


  <!-- CONTACT TO ADMIN Tab -->
  <ion-tab title="CONTACT TO ADMIN" href="#/aboutusslidermenu/contacttoadmin">
    <ion-nav-view name="contacttoadmin"></ion-nav-view>
  </ion-tab>

 
</ion-tabs>
