<ion-view style="" id="page3" view-title="{{'club' | translate}}" class="{{myClass}}">
    <ion-nav-bar class="bar-balanced {{myClass}}">
        <ion-nav-buttons side="left" align-title="center">
            <button class="button button-icon icon ion-android-arrow-back" ui-sref="menuslider.menu"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="center padding cus-bg-drop" style="background: url(img/bg/14.jpg) no-repeat center;background-size:cover;padding: 35px 10px 25px; ">
        <div class="center menu-landing-page new-menu-img" style="
    padding-top: 30px;">
            <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
                <!--  <a class="button button-stable button-clear" ui-sref=""><img name="matches" style="display:block;" src="img/SwqikhxBSEKhXCteqGbN_match-menu-img.png" height="100%" width="100%" ></a> -->
                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'en'"
                    ui-sref="createeditclubslidermenu.spCreateClub">
                    <img name="matches" style="display:block;" src="img/home/create-club.png" height="100%" width="100%">
                    <p>Create Club</p>
                </a>

                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'ar'"
                    ui-sref="createeditclubslidermenu.spCreateClub">
                    <img name="matches" style="display:block;" src="img/home/create-club.png" height="100%" width="100%">
                    <p>انشئ نادي</p>
                </a>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
                <!--  <a class="button button-stable button-clear" ui-sref=""><img name="clubs" style="display: block; margin-left: auto;" src="img/4e9ipaBFRACfx93xnvPE_newsfeed-menu-img.png" height="100%" width="100%"<p>asdfasfasdfasdf</p>
                </a> -->
                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'en'"
                    ui-sref="clubinyourarea">
                    <img name="clubs" style="display: block; margin-left: auto;" src="img/home/join-club.png" height="100%" width="100%">
                    <p>Join Club</p>
                </a>

                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'ar'"
                    ui-sref="clubinyourarea">
                    <img name="clubs" style="display: block; margin-left: auto;" src="img/home/join-club.png" height="100%" width="100%">
                    <p>إنضم لفريق</p>
                </a>

            </div>


            <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
                <!-- <a class="button button-stable button-clear" ui-sref=""><img name="clubs" style="display:block;" src="img/EALYnQhDQFC6d5YvtkO1_message-menu-img.png" height="100%" width="100%"<p>asdfasfasdfasdf</p>
                </a> -->
                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'en'"
                    ui-sref="spclublist">
                    <img name="clubs" style="display:block;" src="img/home/my-club.png" height="100%" width="100%">
                    <p>My Club</p>
                </a>

                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'ar'"
                    ui-sref="spclublist">
                    <img name="clubs" style="display:block;" src="img/home/my-club.png" height="100%" width="100%">
                    <p> نادئ
                    </p>
                </a>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
                <!--  <a class="button button-stable button-clear max-height-none new-img-txt" ui-sref=""><img name="clubs" style="display: block; margin-left: auto;" src="img/mcsrsCngS5iudsg4lljQ_next-match-menu-img.png" height="100%" width="100%"<p>asdfasfasdfasdf</p>
                </a> -->
                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'en'"
                    ui-sref="spmemberapprovallist">
                    <img name="clubs" style="display: block; margin-left: auto;" src="img/home/members-approval.png" height="100%" width="100%">
                    <p>Members Approval</p>
                </a>

                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'ar'"
                    ui-sref="spmemberapprovallist">
                    <img name="clubs" style="display: block; margin-left: auto;" src="img/home/members-approval.png" height="100%" width="100%">
                    <p>الموافقة على الاعضاء</p>
                </a>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
                <!--  <a class="button button-stable button-clear max-height-none new-img-txt" ui-sref=""><img name="clubs" style="display: block; margin-left: auto;" src="img/mcsrsCngS5iudsg4lljQ_next-match-menu-img.png" height="100%" width="100%"<p>asdfasfasdfasdf</p>
                </a> -->
                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'en'"
                    ui-sref="clubsearchbyclubmenu">
                    <img name="clubs" style="display: block; margin-left: auto;" src="img/home/search-clubs.png" height="100%" width="100%">
                    <p>Search Clubs</p>
                </a>

                <a class="button button-stable button-clear max-height-none new-img-txt" ng-model="item.language" ng-if="item.language == 'ar'"
                    ui-sref="clubsearchbyclubmenu">
                    <img name="clubs" style="display: block; margin-left: auto;" src="img/home/search-clubs.png" height="100%" width="100%">
                    <p>ابحث عن الاندية

                    </p>
                </a>

            </div>


            <div class="clearfix"> </div>
        </div>
    </ion-content>
</ion-view>