<ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
 <ion-tabs class="tabs-striped tabs-top tabs-background-balanced tabs-color-light" tabs-swipable>


 <!-- NEAR BY Tab -->
  <ion-tab title="NEAR BY" href="#/clubslidermenu/clubinyourarea">
    <ion-nav-view name="clubinyourarea"></ion-nav-view>
  </ion-tab>


  <!-- MY CLUB Tab -->
  <ion-tab title="MY CLUB" href="#/clubslidermenu/joinclub">
    <ion-nav-view name="joinclub"></ion-nav-view>
  </ion-tab>

 
</ion-tabs>
