<ion-view id="page1" title="Login" hide-nav-bar="true" class="login-bg {{myClass}}">
    <ion-content padding="true" style="background: url(img/bg/14.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding login-page cus-bg-drop">
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto; width: 23vh;" src="img/login-logo.png" height="50%" width="50%">
        </div>
    </br>
    </br>
        <form style="" class="{{myClass}}" >
        <div class="list">
            <div class="bar bar-header item item-input padding bar-stable custom-form-controll">
            <i class="icon ion-ios-person-outline padding stable"></i>
            <label style="" name="nameUsername"ng-class="allvalidation[0].validation">
                <input class="stable" placeholder="{{'usernamoremail' | translate}}" type="text" ng-model="signin.username">
            </label>
            </div>
            <br>
            <div class="bar bar-header item item-input padding bar-stable custom-form-controll">
            <i class="icon ion-ios-unlocked-outline padding stable"></i>
            <label style="" name="namePassword" ng-class="allvalidation[1].validation">
                <input class="stable" placeholder="{{'paassword' | translate}}" type="password" ng-model="signin.password">
            </label>
            </div>
        </div>
        </form>
        <button class="button button-balanced  button-block ion-checkmark cus-login-btn" id="login-button1" ng-click="signinsubmit(signin);"> {{'loginn' | translate}}</a>
        <button class="button button-light  button-block button-clear mb-20 default-font-style" style="font-weight:500;" id="login-button2" ui-sref="forgetpassword">{{'forgotpass' | translate}}</button>
        <span class="position-relative"><h5 style="text-align: center;" id="login-heading1" Class="light or-log-wth">{{'orloginwith' | translate}}</h5></span>
        <div class="button-bar social-lnk">
        <button class="fb-icon button button-positive  icon-left ion-social-facebook" id="login-button3" ng-click="facebooklogin()">{{'faceboook' | translate}}</button>
        <button class="tw-icon button button-calm  icon-left ion-social-twitter" id="login-button4" ng-click="twitterlogin()">{{'twitter' | translate}}</button>
        </div>
         <button class="button button-light button-small button-block button-clear sign-up-txt" id="login-button5" ui-sref="signUp">{{'donthavanacct' | translate}}<span class="bold balanced padding">{{'signuup' | translate}}</span></button>
        <!--  <button class="button button-light button-small button-block button-clear sign-up-txt" id="login-button5" ng-click="popupadvs()">Don't have an account?<span class="bold balanced padding">Sign Up</span></button> -->
    </ion-content>
</ion-view>