<ion-view style="" title="Login" hide-nav-bar="true" class="login-bg {{myClass}}">
<ion-content padding="true" style="background: url(img/black-white.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
	
    <div class="off-middle">
         <div class="off-middle-inner">

	<div>
            <img style="display: block; margin-left: auto; margin-right: auto; padding" src="img/Au2bBYuSAuOP60tI41un_khaliji-logo.png" height="50%" width="50%">
        </div>
    </br>

    
    <div class="at-bottom padding-horizontal text-center">
        <h5 class="no-connection-txt">{{'nointconn' | translate}}</h5>
     <!--    <a href="#/menu" class="button button-positive button-block">Try Again</a> -->
        <button class="button button-positive button-block try-btn" ng-click="gobackcheck()">{{'tryagain' | translate}}</button>
    </div>


    </div>
    </div>
     </ion-content>
</ion-view>