<ion-view view-title="{{'mycreatedclub' | translate}}"align-title="center" class="{{myClass}}">
<ion-nav-bar class="bar-balanced {{myClass}}">
    <ion-nav-buttons side="left" align-title="center">
            <button class="button button-icon icon ion-android-arrow-back" ui-sref="clubmenu"></button>
          </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="center padding clubinyourarea cus-bg-drop" style="background: url(img/bg/14.jpg) no-repeat center;background-size:cover;">
  <ion-list>
  <ion-item  ng-repeat="item in items">
    <br>
           <div ng-class="col-md-4 col-sm-4 col-xs-12 responsive-pad">
    <div class="clubarea-main-box">
      <div class="clubarea-detail1">
        <div class="">
          <div class=frame>

             <div class="right-inner pull-right edit-btn"><button href="#" ng-click="editClub(item.clubID);" ng-class="{'match-list-wons-btn': item.status == 'Edit'}" value="EDIT">{{'edit' | translate}}</button></div>

<span class="helper"></span>
  <img ng-src="{{item.clubImageUrl || 'img/photo.png'}}" ng-click="getspclubdetails(item.clubID);">
</div>
          
          
          <span class="club-name">{{item.clubName}}</span>

          <span class="club-total-member" ng-click="getspmemberdetails(item.clubID);">{{item.clubMemberCount}}<small>{{'members' | translate}}</small></span>
          <span class="image-shadow"></span>
          <!-- <button class="join-btn" href="#" ng-click="getjoinclub(item.clubID);" ng-class="{'button-balanced': item.status == 'Approved', 'button-positive': item.status == 'Join','pending-btn': item.status == 'Pending Approval'}"value="JOIN">{{item.status}}</button> -->
        </div>
      </div>
      
      <div class="clubarea-detail2">
        <div class="club-area-played-match">{{'playedmatch' | translate}}: {{item.playedMatchCount}}</div>
        
        <div class="club-area-played-match-status">
        
          <span class="col-md-4 col-sm-4 col-xs-4">
            <span class="status-title">{{'won' | translate}}</span>
            <span class="status-number">{{item.wonMatchCount}}</span>
          </span>
          
           <span class="col-md-4 col-sm-4 col-xs-4">
            <span class="status-title">{{'tied' | translate}}</span>
            <span class="status-number">{{item.tieMatchCount}}</span>
          </span>

          <span class="col-md-4 col-sm-4 col-xs-4">
            <span class="status-title">{{'lost' | translate}}</span>
            <span class="status-number">{{item.lostMatchCount}}</span>
          </span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    </div>
     </ion-item>
    </ion-list >
  </ion-content>
</ion-view>
