<ion-view style="" id="page9" view-title="{{'sportcenter' | translate}}" class="{{myClass}}">
<ion-nav-bar class="bar-balanced {{myClass}}">
         <ion-nav-buttons side="left" align-title="center">
            <button class="button button-icon icon ion-android-arrow-back" ui-sref="menuslider.menu"></button>
          </ion-nav-buttons>
         <ion-nav-buttons side="right">
             <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
          </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-content class="has-header cus-bg-drop" padding="true" style="background: url(img/bg/14.jpg) no-repeat center;background-size:cover;">
     <div class="list card" ng-repeat="item in items">
    <div class="member-list-box">
      <div class="member-list-top-de">
        <span class="member-list-left"><img ng-src="{{item.sportcenterPath || 'img/photo.png'}}" class="img-circle img-responsive"></span>
        <div class="member-list-right-de">
          <span class="member-usr-name">{{item.sportcenterName}}</span>
          <span class="member-location">{{item.sportcenterAreaname}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="member-list-bottom-de">
        
          <div class="sportcenter-overview">
          <span class="member-de-label">{{'overview' | translate}}</span>
          <span class="member-bold-txt">{{item.sportcenterOverview}}</span>
          </div>
          </br>
          <div class="sportcenter-overview">
          <span class="member-de-label">{{'surface' | translate}}</span>
          <span class="member-bold-txt">{{item.sportcenterSurface}}</span>
          </div>
          </br>
          <div class="sportcenter-overview">
          <span class="member-de-label">{{'covering' | translate}}</span>
          <span class="member-bold-txt">{{item.sportcenterCovering}}</span>
          </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>