 <ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
 <ion-tabs class="tabs-striped tabs-top tabs-background-balanced tabs-color-light {{myClass}}" tabs-swipable>


 <!-- NEAR BY Tab -->
  <!-- <ion-tab title="NEAR BY ({{spcountnearby.itemCount || 0}})"href="#/spmatchslidermenu/spmatchlist">
    <ion-nav-view name="spmatchlist"></ion-nav-view>
  </ion-tab> -->

 <!-- MY TEAM Tab -->
  <ion-tab title="MY TEAM" href="#/sppmatchslidermenu/sppmatchmyteam">
    <ion-nav-view name="sppmatchmyteam"></ion-nav-view>
  </ion-tab>

  <!-- CREATE Tab -->
  <ion-tab title="CREATE TEAM" href="#/sppmatchslidermenu/sppmatchcreateteam">
    <ion-nav-view name="sppmatchcreateteam"></ion-nav-view>
  </ion-tab>

 
</ion-tabs>
