<ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
 <ion-tabs class="tabs-striped tabs-top tabs-background-balanced tabs-color-light {{myClass}}" tabs-swipable>


 <!-- OVERVIEW Tab -->
  <ion-tab title="{{'addresulttab' | translate}}" href="#/sppoverviewslidermenu/sppmatchoverview">
    <ion-nav-view name="sppmatchoverview"></ion-nav-view>
  </ion-tab>


  <!-- MATCH PLAYERS Tab -->
  <ion-tab title="{{'addawardtab' | translate}}" href="#/sppoverviewslidermenu/sppmatchplayers">
    <ion-nav-view name="sppmatchplayers"></ion-nav-view>
  </ion-tab>

  <!-- MATCH RATING PLAYER Tab -->
  <ion-tab title="{{'addratingtab' | translate}}" href="#/sppoverviewslidermenu/sppmatchratings">
    <ion-nav-view name="sppmatchratings"></ion-nav-view>
  </ion-tab>

 
</ion-tabs>
