<ion-view view-title="{{'topclubs' | translate}}" class="{{myClass}}">
<ion-nav-bar class="bar-balanced {{myClass}}">
   <ion-nav-buttons side="left" align-title="center">
            <button class="button button-icon icon ion-android-arrow-back" ui-sref="statisticsmenu"></button>
          </ion-nav-buttons>
           <ion-nav-buttons side="right">
             <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
          </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="center padding no-right-pad matchlist-page cus-bg-drop" style="background: url(img/bg/14.jpg) no-repeat center;background-size:cover;">
  
    <!-- <div class="list card" ng-repeat="item in items">
      <div class="opacity-back">
      <div class="match-list-row">
        <div class="match-image pull-left">
          <img ng-src="{{item.get_avatar || 'img/photo.png'}}" class="img-circle">
        </div>
        <div class="match-right-detail">
          <div class="left-inner pull-left">
            <div class="match-title">Name {{item.nickname}}</div>
            <div class="match-location">City {{item.City}}</div>
            <div class="match-location">PLayed {{item.getPlayersPlayed}}</div>
            <div class="match-location">Won {{item.getPlayerswon}}</div>
            <div class="match-location">Ties {{item.getPlayerstie}}</div>
            <div class="match-location">Lost {{item.getPlayerslost}}</div>
            
            
          </div>
  <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    
  </div>
  </div> -->
  <!-- <div infinite-scroll="myPagingFunction()" infinite-scroll-distance="3"> -->
 <div class="list card" ng-repeat="item in items  | limitTo:numberOfItemsToDisplay track by $index">
    <div class="member-list-box">
      <div class="member-list-top-de">
        <span class="member-list-left"><img ng-src="{{item.getAvtar || 'img/photo.png'}}" class="img-circle img-responsive"></span>
        <div class="member-list-right-de">
          <span class="member-usr-name">{{item.clubName}}</span>
          <span class="member-de-label" style="float: left;padding-right: 5px;margin: 2px 0 0 0;">{{'members' | translate}} : </span>
          <span class="member-bold-txt" style="text-align: left;">{{item.clubMemberCount}}</span>
          <span class="member-bold-txt" style="text-align: center;
    color: red;margin: -30px 24px 0 0px;background: #c7c7c7;min-width:8%;float: right;height: auto;
    border-radius: 50% 50%;padding: 5px !important;font-size: 12px;">{{item.count}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="member-list-bottom-de">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <span class="member-de-label">{{'playedmatch' | translate}}</span>
          <span class="member-bold-txt">{{item.playedMatchCount}}</span>
        </div>
        
        <div class="col-md-3 col-sm-3 col-xs-3">
          <span class="member-de-label">{{'won' | translate}}</span>
          <span class="member-bold-txt">{{item.wonMatchCount}}</span>
        </div>
         
        <div class="col-md-3 col-sm-3 col-xs-3">
          <span class="member-de-label">{{'tied' | translate}}</span>
          <span class="member-bold-txt">{{item.tieMatchCount}}</span>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
          <span class="member-de-label">{{'lost' | translate}}</span>
          <span class="member-bold-txt">{{item.lostMatchCount}}</span>
        </div>
       
      <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- <div class="pagination pagination-centered">
    <button class="show-more-btn" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Show more</button>
</div>
ng-if="canWeLoadMoreContent()"
 -->
 <ion-infinite-scroll
 immediate-check="false"
 ng-if="!noMoreItemsAvailable"
  icon="icon ion-loading-c"
  on-infinite="addMoreItem()"  distance="5%">
</ion-infinite-scroll>       


  </ion-content>
</ion-view>
