<ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
 <ion-tabs class="tabs-striped tabs-top tabs-background-balanced tabs-color-light" tabs-swipable>


 <!-- Organizer CREATE CLUB TAB -->
  <ion-tab title="CREATE CLUB" href="#/orgclubslidermenu/orgcreateclub">
    <ion-nav-view name="orgcreateclub"></ion-nav-view>
  </ion-tab>

<!-- Organizer CLUB MEMEBER APPROVAL TAB -->
  <ion-tab title="MEMBER APPROVAL" href="#/orgclubslidermenu/orgmemberapprovallist">
    <ion-nav-view name="orgmemberapprovallist"></ion-nav-view>
  </ion-tab>

 <!-- Organizer CLUB LIST TAB-->
  <ion-tab title="MY CLUB" href="#/orgclubslidermenu/orgclublist">
    <ion-nav-view name="orgclublist"></ion-nav-view>
  </ion-tab>

 
</ion-tabs>
