<ion-view view-title="Player Details">
<ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left" align-title="center">
            <button class="button button-icon icon ion-android-arrow-back" ui-sref="orgmenuslider.orgmenu"></button>
          </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="center padding cus-bg-drop" style="background: url(img/bg/14.jpg) no-repeat center;background-size:cover;">
  <div> 
               

        <form style="" class="list register-usr-profile player-detail-form">
              <div style="margin: -50px auto 0; width:100px" class="profile-image">
                    <img class="profile-img" ng-src="{{getAvtar || 'img/photo.png'}}"></img>
                </div>

              <div class="profile-detail">
                  <div>
                      <span class="usr-name-txt">{{first_name}}</span>
                        <span class="usr-name-txt">{{last_name}}</span>
                    </div>
                    <div>
                        <span class="usr-cou-city"><img src="img/location-icon.png">{{City}},{{Country}}</span>
                    </div>
                  <button class="join-btn player-detail-btn" ng-click="followclick(playerID);" href="#" ng-class="{'match-list-won-btn': status == 'Following', 'button-positive': status == 'Follow'}" value="">{{status}}</button>
              </div>
                  
              <div class="profile-loc-detail">
                    <div class="left-detail col-md-6 col-xs-6 col-sm-6"> 
                        <div class="mb-10">
                        <span class="loc-detail-label col-md-6 col-sm-6 pl-0">Nationality</span> 
                        <span class="loc-detail-txt">{{Nationality}}</span>
                        </div>
                        <div class="">
                        <span class="loc-detail-label col-md-6 col-sm-6 pl-0">Favourite Position </span> 
                        <span class="loc-detail-txt">{{Member_favourite_position}}</span>
                        </div>
                    </div>
                    
                    <div class="right-detail col-md-6 col-xs-6 col-sm-6"> 
                        <div class="mb-10">
                        <span class="loc-detail-label col-md-6 col-sm-6 pl-0">Date of Birth</span> 
                        <span class="loc-detail-txt">{{Date_of_Birth}}</span>
                        </div>
                        <div class="">
                        <span class="loc-detail-label col-md-6 col-sm-6 pl-0">Favourite Club</span> 
                        <span class="loc-detail-txt">{{Member_favourite_team}}</span>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
              </div>
                
                <div class="usr-description"> 
                    <div class="dec-title col-xs-12 col-sm-12">Description</div>
                    <div class="dec-paragraph col-xs-12 col-sm-12">{{Member_description}}</div>
                <div class="clearfix"> </div>
                </div>
                <div class="usr-condition"> 
                    <div class="dec-title  col-xs-12 col-sm-12">Condition</div>
                    <div class="dec-paragraph  col-xs-12 col-sm-12">{{Member_condition}}</div>
                <div class="clearfix"> </div>
                </div>


                <div class="clearfix"> </div>
                
             
            </form>
           </div>
    </ion-content>
</ion-view>
