<ion-view view-title="Supervisor My Team">
<ion-nav-bar class="bar-balanced">
   <ion-nav-buttons side="left" align-title="center">
            <button class="button button-icon icon ion-android-arrow-back" ui-sref="supervisormenuslider.supervisormenu"></button>
          </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="center padding no-right-pad matchlist-page cus-bg-drop" style="background: url(img/bg/14.jpg) no-repeat center;background-size:cover;">
  
  <div class="opacity-back"></div>
  <!-- <span>test {{matchBy.length}}</span> -->
  <div class="list card" ng-repeat="itemdaydate in matchBy track by $index">
    <div ng-repeat="item in itemdaydate.match_detail">
      
      <div class="match-list-row">
         <div class="match-image pull-left">
              <img ng-src="{{item.image || 'img/photo.png'}}" class="img-circle">
            </div>
        <div class="match-right-detail">
          <div class="left-inner pull-left">
            <!-- <div class="match-post-date">{{itemdaydate.matchDate}}</div>
            <div class="match-post-date">{{itemdaydate.dayofDate}}</div> -->
          
          
           
            <div class="match-title">{{item.matchName}}</div>
            <div class="match-location">{{item.matchLocation}}</div>
            <div class="match-location">{{item.clubName}}</div>
            <div class="match-post-date">{{itemdaydate.dayofDate}}</div>
            <div class="match-post-date">{{itemdaydate.matchDate}} | {{item.matchTimeHours}} : {{item.matchTimeMin}}</div>
            </div>
            <div class="right-inner pull-right"><button class="match-list-won-btn" href="#" ng-click="createteam(item.matchID, item.matchClubID);" value="Create">View</button></div>

          </div>
          
          

          
  <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    
  </div>
  </div>
 


  </ion-content>
</ion-view>
