 <ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
 <ion-tabs class="tabs-striped tabs-top tabs-background-balanced tabs-color-light" tabs-swipable>


 <!-- INBOX Tab -->
  <ion-tab title="INBOX" href="#/spmessageslidermenu/spinboxmessage">
    <ion-nav-view name="spinboxmessage"></ion-nav-view>
  </ion-tab>


  <!-- SENT Tab -->
  <ion-tab title="SENT" href="#/spmessageslidermenu/spsentmessage">
    <ion-nav-view name="spsentmessage"></ion-nav-view>
  </ion-tab> 
</ion-tabs>

