<ion-nav-bar class="bar-stable">
     <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
 <ion-tabs class="tabs-striped tabs-top tabs-background-balanced tabs-color-light" tabs-swipable>


 <!-- SUPERVISOR CREATE CLUB TAB -->
  <ion-tab title="CREATE CLUB" href="#/supervisorclubslidermenu/supervisorCreateClub">
    <ion-nav-view name="supervisorCreateClub"></ion-nav-view>
  </ion-tab>

<!-- SUPERVISOR CLUB MEMEBER APPROVAL TAB -->
  <ion-tab title="MEMBER APPROVAL" href="#/supervisorclubslidermenu/spmemberapprovallist">
    <ion-nav-view name="spmemberapprovallist"></ion-nav-view>
  </ion-tab>

 <!-- SUPERVISOR CLUB LIST TAB-->
  <ion-tab title="MY CLUB" href="#/supervisorclubslidermenu/supervisorclublist">
    <ion-nav-view name="supervisorclublist"></ion-nav-view>
  </ion-tab>

 
</ion-tabs>
