<ion-view style="" id="page3" view-title="Supervisor Menu">
<!-- <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button></ion-nav-back-button>
		 <ion-nav-buttons side="right"><span style="padding-top: 10px;margin-right: 10px;">{{item.username}}</span>
        <i class="icon menu-top-icon ion-ios-person-outline center" ui-sref="registerProfile">
        </i>
    </ion-nav-buttons>
</ion-nav-bar> -->
    <ion-content class="center padding cus-bg-drop" style="background: url(img/bg/14.jpg) no-repeat center;background-size:cover;padding: 35px 10px 25px; ">
	<div class="center menu-landing-page"> 
        <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
           <!--  <a class="button button-stable button-clear" ui-sref=""><img name="matches" style="display:block;" src="img/SwqikhxBSEKhXCteqGbN_match-menu-img.png" height="100%" width="100%" ></a> -->
            <a class="button button-stable button-clear max-height-none" ui-sref="spmatchslidermenu.spmatchlist"><img name="matches" style="display:block;" src="img/SwqikhxBSEKhXCteqGbN_match-menu-img.png"  height="100%" width="100%"></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
            <!--  <a class="button button-stable button-clear" ui-sref=""><img name="clubs" style="display: block; margin-left: auto;" src="img/4e9ipaBFRACfx93xnvPE_newsfeed-menu-img.png" height="100%" width="100%"></a> -->
            <a class="button button-stable button-clear max-height-none" ui-sref="supervisorclubslidermenu.supervisorclublist"><img name="clubs" style="display: block; margin-left: auto;" src="img/4e9ipaBFRACfx93xnvPE_newsfeed-menu-img.png" height="100%" width="100%"></a>
        </div>
        
    
        <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
             <!-- <a class="button button-stable button-clear" ui-sref=""><img name="clubs" style="display:block;" src="img/EALYnQhDQFC6d5YvtkO1_message-menu-img.png" height="100%" width="100%"></a> -->
            <a class="button button-stable button-clear max-height-none" ui-sref="spmessageslidermenu.spinboxmessage"><img name="clubs" style="display:block;" src="img/EALYnQhDQFC6d5YvtkO1_message-menu-img.png" height="100%" width="100%"></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
           <!--  <a class="button button-stable button-clear max-height-none" ui-sref=""><img name="clubs" style="display: block; margin-left: auto;" src="img/mcsrsCngS5iudsg4lljQ_next-match-menu-img.png" height="100%" width="100%"></a> -->
            <a class="button button-stable button-clear max-height-none" ui-sref="spmatchstatistics"><img name="clubs" style="display: block; margin-left: auto;" src="img/mcsrsCngS5iudsg4lljQ_next-match-menu-img.png" height="100%" width="100%"></a>
        </div>
        
    
        <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
            <!-- <a class="button button-stable button-clear" ui-sref=""><img name="clubs" style="display:block;" src="img/AMA8O4rJQi61vaEuHAcg_creatematch-menu-img.png" height="100%" width="100%"></a> -->
         <a class="button button-stable button-clear max-height-none" ui-sref="spsportscenter"><img name="clubs" style="display:block;" src="img/sprts-center.png" height="100%" width="100%"></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 box-pad">
           <!-- <a class="button button-stable button-clear" ui-sref=""><img name="clubs"name style="display: block; margin-left: auto;" src="img/nVFxU9yPRGSvG45N0tG0_setting-menu-img.png" height="100%" width="100%"></a>  -->
         <a class="button button-stable button-clear max-height-none" ui-sref="spsettings"><img name="clubs"name style="display: block; margin-left: auto;" src="img/nVFxU9yPRGSvG45N0tG0_setting-menu-img.png" height="100%" width="100%"></a>
        </div>
        <div class="clearfix"> </div>
    </div>
    </ion-content>
</ion-view>