@import url('cairo/stylesheet.css');
@import url('droidnaskh/stylesheet.css');
.hbuttom {
    position: absolute;
    bottom: 200px;
    text-align: justify;
    width: 100%;
}

.slider-pager-page {
    margin: 0px 2px;
}

.slider-pager-page .icon {
    font-size: 15px;
}

b {
    font-family: Papyrus;
    color: #fa4b2a;
    font-size: 20px;
}

.custom-form-controll input.placeholderclass[type="date"]:before {
    content: attr(placeholder) !important;
    color: black;
    margin-right: 0.5em;
}

.custom-form-controll input.placeholderclass[type="date"]:focus:before,
.custom-form-controll input.placeholderclass[type="date"]:valid:before {
    content: "";
}

.ver-top-align {
    vertical-align: top;
    display: table-cell;
}

.custom-form-controll input.placeholderclass[type="time"]:before {
    content: attr(placeholder) !important;
    color: black;
    margin-right: 0.5em;
    /* top: 6px;
    position: absolute;
    left: 15px;*/
}

.custom-form-controll input.placeholderclass[type="time"]:focus:before,
.custom-form-controll input.placeholderclass[type="time"]:valid:before {
    content: "";
}

span.date-value {
    position: absolute;
    top: 13px;
    font-weight: normal;
    font-size: 16px;
    font-family: Raleway;
}

span.time-value {
    position: absolute;
    top: 13px;
    font-weight: normal;
    font-size: 16px;
    font-family: Raleway;
}

/*-------------Start OF Advs------------*/

.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
    visibility: visible;
}

p.info {
    position: absolute;
    bottom: 55px;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
}

/* Fix modal backdrop for smaller devices */

@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

/*-------------End OF Advs------------*/

/*-------------Start OF Intro Screen------------*/

/*body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/

.fullscreen {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}

#list ol {
    margin-top: 30px;
}

#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide {
    display: none;
}

/*-------------End OF Intro Screen------------*/

.nav-bar-tabs-top.hide~.view-container .tabs-top .tabs {
    top: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

.post-content iframe {
    width: 100%;
    height: 350px;
}

.post-content,
.post-content p {
    font-size: 16px !important;
}

.post-content img {
    max-width: 100%;
    height: auto;
    margin: 0px !important;
}

.post-content a {
    margin: 0px !important;
}

/**/

.item-cat-custom {
    min-height: 52px !important;
}

.item-cat-custom img {
    top: 6px !important;
}

.post-article {
    margin-bottom: 48px;
}

.item-post-main h2 {
    font-size: 20px;
    margin-top: 0;
}

.item-avatar {
    font-size: 36px;
    max-width: 10px;
    max-height: 10px;
}

.icon {
    font-size: 30px;
}

.button button-edit {
    font-size: 30px;
}

.icon-space {
    font-size: 16px;
    width: 25px;
    display: inline-block;
}

/*.ion-edit {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50px;
    bottom: 8px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.35);
    height: 45px;
    position: absolute;
    right: -8px;
    width: 45px;
    display: block;
}*/

.profile-pic {
    height: 155px;
    position: relative;
    width: 155px;
    margin: 0 auto;
}

.user-name {
    white-space: normal;
    line-height: 20px;
}

.profile-img {
    width: 70px !important;
    height: 70px !important;
    border: 6px solid #ffffff;
    border-radius: 100%;
}

.gradient-hold.full {
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 60px;
}

.gradient-hold.full h2 {
    font-size: 17px;
}

.gradient-hold.full h4 {
    margin: 0 0 2px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.span-outer {
    font-size: 20px;
}

.item.item-input {
    background-color: transparent;
}

/*.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}*/

/*-------------new css uzaif------------*/

/*------login page css---------*/

.custom-form-controll .ion-ios-unlocked-outline::before {
    background: rgba(0, 0, 0, 0) url("../img/lock-ic.png") no-repeat scroll 0 0 / contain !important;
    content: "" !important;
    height: 20px;
    width: 25px;
}

.custom-form-controll {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: 0 2px 0 #b81e20;
    color: white !important;
    /* margin-bottom: -13px; */
    margin-bottom: 5px;
}

.custom-form-controll input {
    color: black;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Raleway';
    padding-right: 0 !important;
}

.custom-form-controll input::-webkit-input-placeholder {
    color: black !important;
    opacity: 1;
}

.custom-form-controll input:-moz-placeholder {
    color: black !important;
    opacity: 1;
}

.custom-form-controll input::-moz-placeholder {
    color: black !important;
    opacity: 1;
}

.custom-form-controll input:-ms-input-placeholder {
    color: black !important;
    opacity: 1;
}

.cus-login-btn {
    background: #33cd5f none repeat scroll 0 0 !important;
    border-radius: unset;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px !important;
    font-family: 'Raleway';
}

.mb-20 {
    margin-bottom: 20px !important;
}

.or-log-wth {
    color: #fff;
    font-family: "Raleway";
    font-size: 16px;
    margin: 20px auto;
    max-width: 300px;
    position: relative;
}

.default-font-style {
    font-family: Raleway;
    color: #fff;
}

.position-relative {
    position: relative;
}

.or-log-wth:before,
.or-log-wth:after {
    content: "";
    background: #fff;
    height: 1px;
    width: 35px;
    display: block;
    position: absolute;
}

.or-log-wth::before {
    right: 10%;
    top: 50%;
}

.or-log-wth::after {
    left: 10%;
    top: 50%;
}

.fb-icon {
    background: #3b5998 none repeat scroll 0 0 !important;
    border-radius: unset !important;
}

.tw-icon {
    background: #00acee none repeat scroll 0 0 !important;
    border-radius: unset !important;
}

.tw-icon,
.fb-icon {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    padding: 0 25px;
}

#login-button2 {
    color: #fff;
}

.fb-icon::before,
.tw-icon::before {
    font-size: 30px !important;
}

.sign-up-txt {
    color: white !important;
    font-size: 15px;
    font-family: Raleway;
    margin-left: 20px !important;
}

.sign-up-txt .bold {
    color: #fff;
    font-family: Raleway;
    font-weight: 500;
}

.custom-form-controll label {
    margin-bottom: 0;
    width: 100%;
}

.ion-checkmark::before {
    background: url("../img/right-ic.png") no-repeat scroll 0 0 !important;
    content: "" !important;
    background-size: contain !important;
    height: 15px;
    width: 35px;
}

.social-lnk .button.icon-left::before {
    float: none;
    padding-left: 0;
    padding-right: 20px;
}

/*----------------end-login page--------*/

/*----------------signup page-css-------*/

.custom-form-controll .ion-ios-person-outline::before {
    background: rgba(0, 0, 0, 0) url("../img/user-ic.png") no-repeat scroll 0 0 / contain !important;
    content: "" !important;
    height: 20px;
    width: 25px;
}

.custom-form-controll .ion-ios-email-outline::before {
    background: rgba(0, 0, 0, 0) url("../img/email-ic.png") no-repeat scroll 0 0 / contain !important;
    content: "" !important;
    height: 15px;
    width: 25px;
    display: block;
}

.custom-form-controll .item {
    border: medium none;
    width: 100%;
    padding-left: 0;
}

.custom-select-box label.item {
    border: medium none;
    display: block !important;
    padding: 19px 0;
    width: 100%;
}

.custom-select-box select {
    background: transparent none repeat scroll 0 0;
    color: black;
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    padding-left: 5px;
}

.custom-select-box {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: 0 2px 0 #b81e20;
    color: white !important;
    border-radius: unset !important;
    margin-bottom: 6px;
}

.custom-select-box .item-select::after {
    border-left: 9px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid;
    color: #d8e0e8;
    content: "";
    height: 0;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 0;
}

.custom-select-box .item-select select {
    -moz-appearance: none;
    border: medium none;
    direction: ltr;
    left: 0;
    max-width: none;
    width: 100%;
}

.cus-login-btn.ion-ios-personadd-outline::before {
    background: rgba(0, 0, 0, 0) url("../img/create-ac-ic.png") no-repeat scroll 0 4px / contain !important;
    content: "" !important;
    height: 35px;
    margin-right: 10px !important;
    width: 25px;
}

/*----------------end-signup page--------*/

/*----------------menu page-css-------*/

.max-height-none {
    max-height: none !important;
}

.menu-landing-page a.button-clear {
    padding: 0;
}

.menu-landing-page .box-pad {
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.menu-top-icon.ion-ios-person-outline::before {
    background: rgba(0, 0, 0, 0) url("../img/menu-top-ic.png") no-repeat scroll 0 4px / contain !important;
    content: "" !important;
    height: 25px;
    margin-right: 10px !important;
    width: 15px;
}

/*----------------end- menu page--------*/

/*----------------register profile page--------*/

.register-usr-profile {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
    padding: 60px 0 10px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: -1;
}

.profile-img {
    border: 3px solid #949494;
    border-radius: 100%;
    height: 100px !important;
    width: 100px !important;
}

.profile-detail {
    border-bottom: 1px solid #a5adb6;
    padding-bottom: 15px;
    text-align: center;
}

.profile-image {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.cus-css {
    text-align: left;
    margin-left: 80px;
}

.user-profile-img {
    border: 2px solid #d6432b;
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

.profile-detail .usr-name-txt {
    color: #393a3d;
    font-family: open sans;
    font-size: 16px;
    font-weight: 600;
}

.usr-cou-city {
    color: #84888f;
    font-family: open sans;
    font-size: 13px;
}

.usr-cou-city img {
    margin-right: 5px;
    width: 15px;
}

.edit-ic img {
    width: 15px !important;
}

.profile-loc-detail {
    border-bottom: 1px solid #a5adb6;
    font-family: open sans;
    padding: 12px 0;
}

.loc-detail-label {
    color: #6b6b6b;
    display: block;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.loc-detail-txt {
    color: #494949;
    font-weight: 600;
    font-family: open sans;
    font-size: 18px;
}

.pl-0 {
    padding-left: 0;
}

.usr-description .dec-title,
.usr-condition .dec-title {
    color: #494949;
    font-family: open sans;
    font-size: 18px;
    font-weight: 600;
}

.usr-condition {
    font-family: open sans;
    padding: 12px 0;
}

.dec-paragraph {
    margin-top: 5px;
    color: #494949;
    font-family: open sans;
    font-size: 14px;
}

.usr-description {
    border-bottom: 1px solid #a5adb6;
    font-family: open sans;
    padding: 12px 0;
}

/*--------edit--*/

.custom-textarea-controll {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: 0 2px 0 #b81e20;
    color: #000 !important;
    height: auto;
}

.custom-textarea-controll textarea {
    background: transparent;
    color: #000 !important;
}

.custom-textarea-controll textarea::-webkit-input-placeholder {
    color: #000 !important;
    opacity: 1;
}

.custom-textarea-controll textarea:-moz-placeholder {
    color: #000 !important;
    opacity: 1;
}

.custom-textarea-controll textarea::-moz-placeholder {
    color: #000 !important;
    opacity: 1;
}

.custom-textarea-controll textarea:-ms-input-placeholder {
    color: #000 !important;
    opacity: 1;
}

.profile-done.ion-checkmark::before {
    background: rgba(0, 0, 0, 0) url("../img/profile-edit-suc-btn.png") no-repeat scroll 0px 10px / contain !important;
    content: "" !important;
    height: 25px;
    width: 18px;
}

.profile-edit.ion-edit::before {
    background: rgba(0, 0, 0, 0) url("../img/reg-pro-edit-ic.png") no-repeat scroll 0 8px / contain !important;
    content: "" !important;
    height: 28px;
    width: 17px;
}

.edit-profile-img {
    margin-bottom: 15px !important;
    margin-top: 5px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

/*----------------end- register profile page--------*/

/*----------------tabs css-------*/

.tabs-striped .tab-nav.tabs {
    background: white none repeat scroll 0 0;
    border-bottom: medium none;
}

.tab-nav.tabs a.tab-item span {
    color: #9b9b9d;
    font-family: Open Sans;
    font-size: small;
}

.tab-nav.tabs .tab-item.tab-item-active span {
    color: #d74c35;
}

.tab-nav.tabs .tab-item.tab-item-active {
    border-color: #d74c35;
}

.tab-nav.tabs .tab-item {
    max-width: 100%;
}

/*----------------end--tabs-------*/

/*----------------clubs in your area css---------*/

.clubinyourarea .item-content {
    padding: 0;
    background: none !important;
}

.clubarea-detail1 {
    position: relative;
    text-align: center;
    min-height: 150px;
    vertical-align: middle;
}

.club-name {
    bottom: 5px;
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    left: 10px;
    position: absolute;
    z-index: 2;
}

.club-total-member {
    bottom: 5px;
    color: white;
    font-family: Open Sans;
    font-size: 20px;
    line-height: 15px;
    position: absolute;
    right: 10px;
    text-align: center;
    z-index: 2;
}

.club-total-member small {
    display: block;
    font-family: Open Sans;
    font-size: 8px;
    text-transform: uppercase;
}

.image-shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=0);
    bottom: 0;
    display: block;
    height: 50px;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.clubinyourarea ion-item.item-complex {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

.clubarea-main-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background: #c4c4c4c4;
}

.clubarea-detail2 {
    background: white none repeat scroll 0 0;
}

.club-area-played-match {
    border-bottom: 1px solid #ccc;
    color: #d6432b;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
}

.club-area-played-match-status {
    padding: 8px 0;
    font-family: open sans;
    text-align: center;
}

.status-number {
    color: #494949;
    font-size: 19px;
    font-weight: 600;
}

.status-title {
    display: block;
}

.no-padding {
    padding: 0;
}

.responsive-pad {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.join-btn {
    background: #d6432b none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.tied-button {
    background-color: #67c6f5;
}

.notplayed-btn {
    background: #9a9896 none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.tobeplayed-btn {
    background: #9a9896 none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.pending-btn {
    background: #5D606A none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.match-list-wons-btn {
    background: #36c04d none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
}

.match-list-pendings-btn {
    background: #ff9900 none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.match-list-joins-btn {
    background: #d6432b none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
}

.clubinyourarea ion-item.item {
    background: none;
    padding: 0;
    border: none;
}

.frame {
    height: 150px;
    /* equals max image height */
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.frame img {
    vertical-align: middle;
    width: 100px;
}

/*----------------end--club in your area-------*/

/*----------------match list view css-------*/

span.success-img {
    background: url(../img/popup-success.png);
    height: 60px;
    width: 60px;
    z-index: 99999999;
    position: absolute;
    top: -20px;
    background-size: contain;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.popup {
    border-radius: 10px !important;
}

.popup-buttons {
    padding: 0;
    min-height: 45px;
}

.button.button-positive,
.button.button-positive:focus,
.button.button-positive:active,
.button.button-positive:visited,
.button.button-positive.activated {
    border-color: transparent;
    background-color: #00C253;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.button.button-default,
.button.button-positive:focus,
.button.button-positive:active,
.button.button-positive:visited,
.button.button-positive.activated {
    border-color: transparent;
    background-color: #00C253;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

span.success-txt {
    color: green;
    font-size: 24px;
    padding-top: 30px;
    clear: both;
    display: block;
}

.match-list-row .match-image {
    height: 70px;
    width: 70px;
    margin-left: 10px;
}

.match-image .img-circle {
    height: 100%;
    width: 100%;
}

.match-title {
    color: #3c3d3f;
    font-size: 16px;
    font-family: Open Sans;
    margin-top: 10px;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.match-location,
.match-post-date {
    color: #8c8e91;
    font-size: 15px;
    font-family: Open Sans;
}

.match-list-row {
    padding-top: 5px;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
}

.match-right-detail {
    margin-left: 90px;
}

.match-right-detail .left-inner.pull-left {
    width: 68%;
}

.match-list-join-btn {
    background: #d6432b none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
    text-transform: uppercase;
}

.no-right-pad {
    padding-right: 0;
}

.match-right-detail .right-inner.pull-right {
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.matchlist-page .list.card {
    background: none;
    box-shadow: unset;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.match-right-detail .match-post-date {
    margin-bottom: 5px;
}

.opacity-back {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
}

.match-list-won-btn {
    background: #36c04d none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
}

.match-list-tie-btn {
    background: #67c6f5 none repeat scroll 0 0;
    border: medium none moccasin;
    border-radius: 3px;
    color: white;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
}

.matchlist-page .list.card:first-child {
    padding-top: 5px;
    /* border: solid; */
}

.matchlist-page.has-tabs-top {
    top: 95px;
    padding-left: 0;
    padding-top: 10px;
}

.matchlist-page {
    padding-top: 6px;
}

.bg-white {
    background: #fff;
}

/*----------------end-of--match list view css-------*/

/*----------------message page---------*/

.mt-0 {
    margin-top: 0px !important;
}

.ion-ios-compose-outline::before {
    background: rgba(0, 0, 0, 0) url("../img/compose-icon.png") no-repeat scroll 0 4px / contain !important;
    content: "" !important;
    height: 25px;
    width: 20px;
}

.message-row-left {
    float: left;
}

.message-row-right {
    float: right;
}

.message-inbox a.item {
    background: rgba(255, 255, 255, 0.85) no-repeat scroll 0 0;
    border: none;
    min-height: unset;
    padding: 0 0 0 25px;
    margin-bottom: 1px;
}

.message-usr-name {
    color: #000;
    display: block;
    font-family: open sans;
    font-weight: 600;
}

.message-dec {
    clear: both;
    color: #8c8e90;
    font-size: 14px;
    white-space: normal;
}

.message-usr-designation {
    color: #000;
    display: block;
    font-family: open sans;
    font-size: 15px;
}

.message-time {
    color: #8e8e8e;
    font-family: open sans;
    font-size: 14px;
}

.message-inbox .padding {
    padding: 0;
}

.message-row {
    border-bottom: 1px solid #c8c7cc;
    padding: 10px 0;
}

.message-row-right .message-time {
    background: rgba(0, 0, 0, 0) url("../img/yes-arrow.png") no-repeat scroll 90% center;
    padding-right: 25px;
}

/*----------------end message page---------*/

/*----------------message-inner page--------*/

.message-detail-page .list.card {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 5px 0 6px rgba(0, 0, 0, 0.3);
}

.inbox-user-img.pull-left {
    margin-right: 10px;
    width: 20%;
}

.inbox-user-img {
    float: left;
    width: 65px;
    margin-right: 10px;
}

.inbox-user-img img {
    border: 1px solid #ccc;
}

.inbox-inner-top {
    border-bottom: 1px solid #ccc;
    font-family: open sans;
    padding-bottom: 10px;
}

.inbox-full-msg {
    color: #474747;
    font-family: open sans;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.inbox-usr-name {
    color: #474747;
    display: block;
    font-size: 18px;
}

.inbox-to-me,
.inbox-msg-tm {
    color: #a3a3a3;
    display: block;
}

.inbox-msg-tm-de {
    color: #474747;
    margin-left: 4px;
}

.attach-file-neme {
    color: #007aff;
    font-family: roboto;
    font-size: 14px;
}

.inner-footer {
    padding: 20px 0 10px;
}

.attach-icon img {
    margin-right: 15px;
    width: 50px;
}

.message-detail-page .scroll.padding {
    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
}

/*----------------end-message-inner page--------*/

/*----------------member list page---------*/

.member-list-left {
    float: left;
}

.member-list-right {
    float: right;
}

.member-list-right-de .join-btn.green-btn {
    top: 5px;
    background: #36c04d;
}

.member-list-right-de .reject-btn {
    top: 45px;
    background: #d6432b none repeat scroll 0 0;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 14px;
    right: 7px;
    position: absolute;
    font-weight: 600;
}

.member-list-left img {
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.member-usr-name {
    color: #474747;
    display: block;
    font-family: open sans;
    font-size: 18px;
}

.member-location {
    color: #a3a3a3;
    font-family: open sans;
    display: block;
}

.member-de-label {
    /*display: table;*/
    color: #6b6b6b;
}

.member-list-bottom-de {
    clear: both;
    padding: 7px 0;
    text-align: center;
    font-family: open sans;
}

.member-bold-txt {
    font-weight: 600;
    color: #494949;
    font-size: 18px;
    display: block;
    text-align: center;
}

.cus-member {
    text-align: center !important;
    color: red !important;
    margin: -30px 24px 0 0px !important;
    background: #c7c7c7 !important;
    min-width: 50px !important;
    float: right !important;
    height: 50px !important;
    border-radius: 50% 50% !important;
    padding: 13px !important;
    font-size: 18px !important;
}

.member-list-top-de {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.memberlist-page .list.card {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    margin-top: 0;
    padding-top: 10px;
}

.member-list-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 5px 0 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    position: relative;
}

.memberlist-page .scroll {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
}

/*----------------End member list page---------*/

/*Playrt Detail Form*/

.player-detail-form {
    padding-top: 0;
}

.player-detail-btn {
    position: relative;
}

/*Playrt Detail Form*/

/*----------------match-overview---------*/

body {
    /*background: rgba(0, 0, 0, 0) url("../img/backgroun.png") repeat scroll 0 0;*/
    background-size: cover;
}

body .match-overview {
    padding: 8px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.clear {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.vs-team-logo {
    text-align: center;
    width: 37%;
}

.match-vs-bt-de {
    background: white none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    clear: both;
    color: #d74c35;
    font-family: open sans;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.match-vs-bt-de.addresult {
    background: white none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    clear: both;
    color: #d74c35;
    font-family: open sans;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.match-vs-bt-de.matchplayed {
    background: white none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    clear: both;
    color: #d74c35;
    font-family: open sans;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.match-vs-top-de {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    padding: 10px;
    text-align: center;
    position: relative;
    border-radius: 4px 4px 0 0;
}

.team-name {
    color: #383b3e;
    display: block;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    min-height: 40px;
}

.vs-txt {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #d74c35;
    font-family: open sans;
    font-size: 23px;
    font-weight: bold;
}

.match-description {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    font-family: open sans;
    font-size: 15px;
    margin: 10px -7px -7px;
    padding: 10px;
}

.overview-title {
    color: #d74c35;
    font-size: 20px;
}

.overview-dec {
    color: #404142;
}

/*----------------End match-overview---------*/

/*----------------match player---------*/

.match-player-row-pad .plus-minus-icon {
    background: url(../img/plus.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 40%;
}

.match-player-title {
    color: #393a3c;
    font-family: open sans;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.plus-minus {
    background: url(../img/minus.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.match-player-accordion .panel-heading {
    position: relative;
}

.plus-minus {
    background: rgba(0, 0, 0, 0) url("../img/minus.png") no-repeat scroll 0 0 / contain;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 47%;
    width: 15px;
    cursor: pointer;
}

.plus-minus.collapsed {
    background: rgba(0, 0, 0, 0) url("../img/plus.png") no-repeat scroll 0 0 / contain;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 40%;
    width: 15px;
    cursor: pointer;
}

.match-player-row-pad.active .plus-minus-icon {
    background: url(../img/minus.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
}

.before-border .item {
    background: rgba(255, 255, 255, 0);
    border: none;
}

.match-player-accordion .panel {
    background: rgba(255, 255, 255, 0.8) !important;
}

.match-player-accordion .panel-heading {
    background: none !important;
    border: none;
    z-index: 99;
    padding: 0;
}

.match-player-row-pad {
    background: rgba(255, 255, 255, 0) !important;
    border: none;
}

.match-player-right-detail {
    background: white none repeat scroll 0 0;
    border-radius: 4px;
    margin-left: 65px;
    position: relative;
}

.match-player-right-detail::before {
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    content: "";
    display: block;
    left: -8px;
    position: absolute;
    top: 5px;
}

.player-img {
    margin-left: 18px;
}

.match-player-name {
    border-bottom: 1px solid #ccc;
    color: #474747;
    font-family: open sans;
    font-size: 16px;
    padding: 7px 0 7px 10px;
}

.match-de-label {
    color: #6b6b6b;
    display: block;
    font-family: open sans;
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
}

.match-de-dec {
    color: #494949;
    margin-bottom: 5px;
    font-family: open sans;
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.match-payer-detail-box {
    margin-bottom: 10px;
    z-index: 99;
    position: relative;
}

.match-player-accordion {
    position: relative;
}

.match-player-accordion .panel.panel-default {
    overflow: hidden;
    position: relative;
}

.match-player-accordion .match-player-row-pad.active+.before-border:before {
    content: "";
    background: #aaafb8;
    width: 2px;
    position: absolute;
    height: 100%;
    top: 50px;
    left: 50px;
    display: block;
}

.match-player-accordion .panel {
    margin-bottom: 13px !important;
}

/*----------------end match player---------*/

/*----------------about us---------*/

.aboutus-detail {
    color: #3d3f41;
    font-family: open sans;
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
}

.about-us-screen .scroll.padding {
    background: rgba(255, 255, 255, 0.8);
    height: auto;
}

.sent-req.ion-paper-airplane::before {
    background: rgba(0, 0, 0, 0) url("../img/sent-req.png") no-repeat scroll 0 0 / contain !important;
    content: "" !important;
    height: 15px;
    width: 20px;
}

/*----------------end about us---------*/

/*------------contact admin----------*/

.file-input.custom-file-input .fileUpload {
    position: relative;
}

.custom-file-input .fileUpload p.custom-para {
    background-color: #b81e20;
    color: #000;
    cursor: pointer;
    float: left;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 13px;
    position: relative;
}

.custom-file-input .fileUpload input.upload {
    border: 1px solid red !important;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 1;
}

.custom-file-input #uploadFile {
    background: none;
    border: medium none;
    color: #fff !important;
    font-size: 19px;
    left: 100px;
    position: absolute;
    font-weight: 600;
    font-family: raleway;
}

.custom-file-input ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.custom-file-input :-moz-placeholder {
    color: #000;
    opacity: 1;
}

.custom-file-input ::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.custom-file-input :-ms-input-placeholder {
    color: #000;
    opacity: 1;
}

/*----------------end contact admin---------*/

.member-list-right-de .ion-checkmark-circled:before {
    color: #4cae4c;
    font-size: 40px;
}

.member-list-right-de .ion-close-circled:before {
    color: #d9534f;
    font-size: 40px;
}

.reject-pl-btn {
    background: none;
    border: none;
    padding: 0;
}

.pl-ap-rj-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.pl-ap-rj-btn .join-btn {
    position: absolute;
}

.profile-detail {
    border-bottom: none;
}

span.gear-icon {
    position: absolute;
    right: 0px;
    bottom: -10px;
}

.team-create-name label.pl-default-teamname {
    color: black;
    background: white;
    padding: 10px 10px;
    width: 100%;
}

.team-create-name .team-input {
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #b81e20 !important;
    padding: 10px 10px !important;
    width: 100%;
    color: white !important;
    height: 50px !important;
}

.sportcenter-overview .member-bold-txt {
    text-align: left;
    margin-left: 15px;
}

.sportcenter-overview {
    text-align: left;
    padding: 0 15px;
}

/*----------------end---------*/

.profile-loc-detail .right-detail span.loc-detail-label:first-child {
    display: block;
}

.fixed-top-drop {
    margin-top: 10px !important;
    position: static !important;
    width: 99%;
    z-index: 99;
}

.club-srchby {
    margin-top: 10px;
    height: calc(100% - 50px);
    overflow: scroll;
}

.clb-bld-fnt {
    font-weight: bold;
    color: #494949;
}

.club-details-overview .vs-team-logo img {
    width: 100px !important;
}

.club-usr-profile {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
    padding: 60px 0 10px;
    /* position: absolute; */
    width: 100%;
    z-index: -1;
    margin-top: 50px;
    margin-bottom: 10px !important;
}

.club-details-overview .match-vs-top-de {
    padding: 20px 10px;
}

.match-vs-top-de img {
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 10px !important;
}

span.match-scedule-detail {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

span.match-scedule-detail span {
    display: block;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.side-menu-slider a.item-content {
    padding: 10px 15px;
}

.side-menu-slider .item:last-child {
    /* padding: 10px 15px;*/
}

.mt-10 {
    margin-top: 10px;
}

.side-menu-slider ion-item.item.item-complex a:hover,
.side-menu-slider ion-item.item.item-complex.active a {
    background: #33cd5f !important;
    color: #fff;
    text-decoration: none;
}

.setting-lang {
    float: right;
    border: 1px solid #000;
    background: #fff;
}

.img-block input[type="radio"]:checked+label>div {
    background-image: url("../img/gold-cup.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 45px;
    background-size: 100%;
    margin-top: 10px;
    display: inherit;
}

.before-result {
    background-image: url("../img/gray-cup.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 45px;
    background-size: 100%;
    display: inherit;
}

.img-block .input-hidden-match {
    position: absolute;
    left: -9999px;
}

.img-block input[type="radio"]:checked+label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 2px 2px #de8d07;
    margin-bottom: 0 !important;
}

.right-0 {
    right: 0;
    margin-bottom: 10px;
}

.buttons-for-results button,
.buttons-for-results input {
    top: 0;
    width: 30%;
    font-size: 12px;
    right: 0;
}

.buttons-for-resultsmatchplayed button {
    top: 0;
    width: 40%;
    font-size: 12px;
    right: 0;
}

.vs-txt.result {
    top: 30%;
}

.mat-res-sp-center {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
}

.zindex {
    z-index: 2;
    position: relative;
}

.Awarded .player-img img {
    box-shadow: 0 0 2px 2px #de8d07;
}

.Wonstatus.player-img img {
    box-shadow: 0 0 2px 2px #de8d07;
}

.Loststatus.player-img img {
    box-shadow: 0 0 2px 2px #de8d07;
}

.Tiedstatus.player-img img {
    box-shadow: 0 0 2px 2px #de8d07;
}

img.award-img {
    height: 25px;
    float: right;
    margin-right: 20px;
    display: none;
}

.Awarded img.award-img {
    display: block;
}

.panel-title img.img-circle {
    height: 70px;
    width: 70px;
}

.top-organizer-match-count {
    float: right;
    margin-right: 10px;
    color: #474747;
}

/*.match-vs-bt-de.buttons-for-results.ng-hide {
    display: block !important;
}*/

.Wonstatus .player-img {
    position: relative;
}

.grey-cup {
    display: none;
}

.Wonstatus .player-img .grey-cup {
    display: block;
    position: absolute;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.8;
}

/* ------- SEARCH ----*/

.searchBar {
    color: #fff;
    margin: 0 !important;
    padding: 0;
}

.searchBar .icon {
    font-size: 27px;
    line-height: 1.2;
    padding-right: 6px;
    padding-left: 6px;
    color: white;
}

.searchBar .searchTxt {
    border-bottom: 1px solid #fff;
    left: 55px;
    width: calc(100% - 100px);
    position: fixed;
    height: calc(100% - 10px);
}

.searchBar.numicons2 .searchTxt {
    width: calc(100% - 135px);
}

.searchBar .searchTxt>.bgdiv {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
}

.searchBar .searchTxt>.bgtxt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.searchBar .searchTxt input {
    background-color: inherit;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.bar.bar-stable.item-input-inset {
    border-color: #b2b2b2;
    background-color: #33cd5f;
    background-image: none;
}

.filter-bar-cancel {
    color: white !important;
}

.platform-android .filter-bar .filter-bar-stable .item-input-wrapper {
    border-bottom: 1px solid #fff;
    background: transparent;
    color: white !important;
}

.filter-bar-clear:before {
    color: #fff !important;
}

.filter-bar-cancel:before {
    font-size: 32px !important;
}

.platform-android .filter-bar .filter-bar-stable .item-input-wrapper input {
    color: white !important;
    text-decoration: none !important;
}

.paginationclass {
    margin: 19px 28px;
}

.pagination-controle li {
    display: inline-block;
}

.pagination-centered button {
    font-size: 12px;
    margin-left: 28px;
    cursor: pointer;
}

ion-infinite-scroll:not(.active) .spinner,
ion-infinite-scroll:not(.active) .icon:before {
    display: inline-block;
}

/*.platform-android .action-sheet-cancel {
    display: block !important;
}*/

.cus-mr {
    margin-right: 11px;
}

.pt-0 {
    padding-top: 0 !important;
}

#choicecity option {
    color: black;
}

.empty {
    color: gray;
}

.off-middle {
    display: inline-table;
    height: 100%;
    width: 100%;
}

.off-middle-inner {
    display: table-cell;
    vertical-align: middle;
}

.no-connection-txt {
    font-size: 17px;
    font-weight: bolder;
    color: #fff;
}

.try-btn {
    border-radius: unset !important;
    background: #cb3e27 !important;
}

.item-select.select-arrow-none:after {
    /* border: none; */
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.edit-btn button {
    color: white;
    font-family: "open sans";
    font-size: 14px;
    font-weight: 600;
    background: none 0px 0px repeat scroll rgb(54, 192, 77);
    border-width: medium;
    border-style: none;
    border-color: moccasin;
    border-radius: 3px;
    padding: 5px 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.lang-right .button-clear {
    padding: 0;
    min-height: auto !important;
    line-height: normal;
    min-width: auto;
    margin-left: 10px;
}

.lang-right {
    float: right;
}

.lang-right .button-clear.curr-lang {
    background: #ef473a !important;
    color: #fff !important;
    padding: 0px 2px !important;
}

/*input[type="date"]:before {
    content: attr(placeholder);
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    display: none;
  }
*/

/* select {
       
        -moz-appearance: none;
       
        -webkit-appearance:none;
      }*/

.policyfancy-chkbox-btn input {
    float: left;
    margin: 9px 0 0;
}

.policyfancy-chkbox-btn button.sign-up-txt.button-small {
    width: auto;
    clear: none;
    margin: 0;
}

.policyfancy-chkbox-btn button.sign-up-txt.button-small span {
    color: red;
}

.policyfancy-chkbox-btn label a {
    color: #fff;
    text-decoration: underline;
}

.policyfancy-chkbox-btn label {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    font-family: Raleway;
    margin-left: 10px;
}

/*.bar .title.title-left:lang(ar) {
    text-align: right !important;
}*/

.rtlcontent .bar .title.title-left {
    text-align: right !important;
    font-family: 'droid_arabic_naskhregular';
}

.side-menu-slider.rtlcontent a.item-content {
    text-align: right;
    font-family: 'droid_arabic_naskhregular';
}

.settingClass li.item-button-left {
    text-align: right;
}

.settingClass li.item-button-left {
    padding-right: 70px;
    padding-left: 20px;
}

.settingClass li.item-button-left button {
    right: 10px !important;
    left: inherit;
}

.settingClass li.item-button-left .setting-lang {
    float: left;
}

.rtlcontent .custom-select-box .item-select select {
    -moz-appearance: none;
    border: medium none;
    direction: rtl;
    left: 0;
    max-width: none;
    width: 100%;
    font-family: 'droid_arabic_naskhregular';
}

.rtlcontent .custom-form-controll input {
    color: black;
    font-weight: normal;
    font-size: 16px;
    font-family: 'droid_arabic_naskhregular';
    padding-right: 0 !important;
    direction: rtl;
}

.rtlcontent .custom-textarea-controll textarea {
    background: transparent;
    direction: rtl;
    font-family: 'droid_arabic_naskhregular';
}

.rtlcontent .custom-form-controll input {
    color: black;
    font-weight: normal;
    font-size: 16px;
    font-family: 'droid_arabic_naskhregular';
    padding-right: 32px !important;
    direction: rtl;
}

.rtlcontent .item-input .icon {
    position: absolute;
    right: 0;
    font-family: 'droid_arabic_naskhregular';
}

.rtlcontent .item-input {
    direction: rtl;
    padding-right: 32px;
    font-family: 'droid_arabic_naskhregular';
}

.rtlcontent {
    font-family: 'droid_arabic_naskhregular';
}

.rtlcontent .tab-nav.tabs a.tab-item span {
    font-family: 'droid_arabic_naskhregular';
}

span.stars,
span.stars span {
    display: block;
    background: url(../img/starsrating.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.notification-condition {
    border-top: 1px solid #a5adb6;
}

.chcked-notification span.loc-detail-txt,
.edit-chcked-notification span.loc-detail-txt {
    font-weight: 300;
    color: #494949;
    font-size: 14px;
    /* font-family: open sans-serif; */
}

.edit-chcked-notification span.loc-detail-txt {
    color: #fff;
}

.player-rate label {
    font-weight: normal;
    color: #fff;
    letter-spacing: 1px;
    vertical-align: top;
}

.rate-number {
    margin: 0 10px;
}

.rate-number input {
    margin-right: 3px;
}

/*Icons in responsive*/

.rtlcontent .item-input .icon {
    top: 50%;
    transform: translateY(-50%);
}

.new-menu-img.menu-landing-page img {
    /* border-radius: 150px; */
    /* border: 3px solid #ffffff; */
}

/* filter-bar-search */

.filter-bar-search::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

.filter-bar-search:-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}

.filter-bar-search::-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}

.filter-bar-search:-ms-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

.sidemenu-new-custom {
    background: #000;
}

.sidemenu-new-custom ion-item {
    /* background: #000; */
    background: transparent !important;
    border-color: #585858;
}

.sidemenu-new-custom ion-item a {
    background: #000 !important;
    color: #fff;
    height: 70px;
    padding: 26px !important;
    background: transparent !important;
}

.cus-new-css {
    color: #fff;
}

.cus-new-css span {
    color: #fff;
}

.user-profile-img {
    border: 1px solid #949494 !important;
}

.cus-bg-drop {
    background: rgba(0, 0, 0, 0.53);
}

.new-img-txt {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5vh;
}

.new-img-txt img {
    width: 60%;
    margin: auto;
}

.new-img-txt p {
    font-size: 16px;
    color: #fff;
    margin: auto;
    margin-top: -15px;
    font-weight: 600;
}


.cutom-color-new label span{
color : #000 !important;
}


.cutom-color-new select{
    color : #000 !important;
    }

/* .menu-content.menu-open {
    transform: translate3d(0px, 0px, 0px) !important;
    z-index: -1 !important;
    opacity: 1 !important;
}

ion-side-menu {
    background: transparent !important;
    ;
}

.sidemenu-new-custom {
    background: rgba(0, 0, 0, 0.37) !important;
} */